# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/*
!wp-content
/wp-content/*
!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/sajib-me
/wp-content/themes/sajib-me/node_modules

#!/wp-content/plugins
!.gitignore
