@import '../style.css';
@import './css/my-cv.scss';

body.my-cv{
    background: transparent;
}
.entry-content{
    code,
    code p{
        background: #333;
        color: #fff;
        display: block;
        padding: 10px;
        font-size: 14px;
    }
}
.wrap{
    .job {
        .intro {
            ul{
                list-style: none;
            }
        }
    }
}
.site{
    .go-back{
        margin-left: 60px;
        background: transparent;
        color: #000;
        text-transform: capitalize;
        padding: 0;
        font-weight: normal;
    }
}