@import url("https://fonts.googleapis.com/css?family=Noto+Sans%3A400italic%2C700italic%2C400%2C700%7CNoto+Serif%3A400italic%2C700italic%2C400%2C700%7CInconsolata%3A400%2C700&subset=latin%2Clatin-ext");
@import '../style.css';
@import './css/my-cv.scss';
@import './css/404.scss';

body.my-cv{
    background: transparent;
}
.entry-content{
    code,
    code p{
        background: #333;
        color: #fff;
        display: block;
        padding: 10px;
        font-size: 14px;
        margin-bottom: 10px;
        margin-top: 5px;
    }
}
.wrap{
    .job {
        .intro {
            ul{
                list-style: none;
            }
        }
    }
}
.site{
    .go-back{
        margin-left: 60px;
        background: transparent;
        color: #000;
        text-transform: capitalize;
        padding: 0;
        font-weight: normal;
        svg{
            margin-bottom: -3px;
        }
    }
    .personal-information {
        ul {
            li {
                svg {
                    margin-right: 10px;
                    color: #3498db;
                    margin-bottom: -2px;
                }
            }
        }
    }
}
// @media screen and (min-width: 1917px) {
//     .widget_nav_menu{
//         .menu{
//             width: calc(100% - 20px);
//         }
//     }
// }