@import url("https://fonts.googleapis.com/css?family=Noto+Sans%3A400italic%2C700italic%2C400%2C700%7CNoto+Serif%3A400italic%2C700italic%2C400%2C700%7CInconsolata%3A400%2C700&subset=latin%2Clatin-ext");
@import '../style.css';
@import './css/my-cv.scss';
@import './css/404.scss';

body.my-cv{
    background: transparent;
}
.entry-content{
    code,
    code p{
        background: #333;
        color: #fff;
        display: block;
        padding: 10px;
        font-size: 14px;
        margin-bottom: 10px;
        margin-top: 5px;
    }
}
.wrap{
    .job {
        .intro {
            ul{
                list-style: none;
            }
        }
    }
}
.site{
    .go-back{
        margin-left: 60px;
        background: transparent;
        color: #000;
        text-transform: capitalize;
        padding: 0;
        font-weight: normal;
        svg{
            margin-bottom: -3px;
        }
    }
    .personal-information {
        ul {
            li {
                svg {
                    margin-right: 10px;
                    color: #3498db;
                    margin-bottom: -2px;
                }
            }
        }
    }
    .contact-form {
        .ajax-loader {
            display: inline-block;
            background-color: #23282d;
            opacity: 0.75;
            width: 24px;
            height: 24px;
            border: none;
            border-radius: 100%;
            padding: 0;
            margin: 0 24px;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                background-color: #fbfbfc;
                top: 4px;
                left: 4px;
                width: 6px;
                height: 6px;
                border: none;
                border-radius: 100%;
                transform-origin: 8px 8px;
                animation-name: spin;
                animation-duration: 1000ms;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }
        }
        #msg{
            margin-bottom: 0;
            &.success{
                color: green;
            }
            &.failed{
                color: red;
            }
        }
        .error-msg {
            font-size: 14px;
            font-style: italic;
            color: red;
        }
    }

}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
// @media screen and (min-width: 1917px) {
//     .widget_nav_menu{
//         .menu{
//             width: calc(100% - 20px);
//         }
//     }
// }